/*#region---------------general-------------------*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #F4F4F4;
    padding: 0;
    margin: 0 auto;
}

header {
    max-width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    min-height: 20px;
    padding: 10px;
    font-family: "Roboto";
}

.header-img {
   height: 2.3rem;
   align-self: center;
}

header div {
    display: flex;
    align-self: flex-end;
}

.page-container {
    background-color: #fff;
    display: flex;
    min-height: 80vh;
    margin: 20px;
}
/*#endregion general*/


/*#region -----------login_screen----------------*/
#login {
    align-items: center;
    background-image: url(../images//libarary_background_gradient.svg), url(../images/library_background2.png);
    background-size: cover, cover;
    background-position: center top, center top;
    background-repeat: no-repeat;

}

#login-container {
    background-color: #fff;
    max-width: 300px;
    max-height: 350px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    margin-top: 15vh;
    border: 1px solid #70707040;
    border-radius: 4px;
    text-align: center;

}

#login-container img {
    width: 6rem;
}

#login-container form {
    margin-top: 30px;
    margin-bottom: 20px;
}

#login-container input {
    display: block;
    width: 94%;
    text-align: left;
    font-size: 0.8rem;
    background-color: #F1F3F5;
    border: 0px;
    padding: 0 3% 0 3%;
    margin-bottom: 20px;
    height: 40px;
    border-radius: 2px;
}

#login-email {
    background-image: url(../images/email_icon.png);
    background-position: 95%;
    background-repeat: no-repeat;
}

#login-pwd {
    background-image: url(../images/pwd_icon.svg);
    background-position: 95%;
    background-repeat: no-repeat;
}

#login-pwd-reset {
    font-family: "Roboto";
    display: block;
    text-align: left;
    text-decoration: underline;
    font-weight: bold;
    color: #000;
    margin-bottom: 40px;
    font-size: 0.8rem;
}

#login-container input[type=button] {
    text-align: center;
    font-size: 0.85rem;
    width: 100%;
    background-color: #ffc501;
    font-weight: bold;
    height: 40px;
    border: none;
}
/*#endregion login_screen*/


/*#region-------------home_screen---------------*/

.home-card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #F4F4F4;
    width: 13em;
    height: 11em;
    text-align: center;
    margin: 20px;
    border: 2px solid #F4F4F4;
    border-radius: 4px;
    font-family: "Roboto";
    cursor:pointer;
    font-weight: 500;
}

.home-card:hover{
    background-color: #FFC501;
    border: 2px solid #FFC501

}

.home-card span {
    background-color: #fff;
    height: 4em;
    font-size: 0.85rem;   
    text-align:center; 
    margin-bottom: 0;
    align-items: center;
}

.home-card img {
    margin: auto;

}

#home-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
}

/*#endregion home_screen*/


/*#region-------------register_screen-----------*/

.reg-add-book {
    display: grid;
    align-items: center;
    justify-content: center;
}

.reg-book-image {
    display: flex;
    flex-wrap: nowrap;
    border: 2px dashed #ffc501 ;
    font-family: "Roboto";
    color: #ffc501; 
    justify-content: center;    
}

input[type='file'] {
    display: none;
}

/*#endregion*/

/*region--------------libary-screen-------------*/

.search-book {
    width: 666px;
    height: 53px;
    border: 1px solid #ADB5BD;
    border-radius: 5px;
}

#book-galery {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;
    overflow-y: scroll;
    overflow-x: visible;

}

.book-card{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 12em;
    height: 15em;
    background-color: #F4F4F4;
    margin: 20px;
    text-align: center;
    font-family: "Roboto";
    cursor:pointer;
    font-weight: 500;
    border-radius: 4px;
 

}

.book-card img{
    width: 8em;
    height: 10em;
    margin: 5px 10px 10px 10px;
    align-self: center;
}

.book-card p {
    width: 8em;
    margin: auto;
}

/*endregion*/